.about_me {
    display: grid;
    font-family: "Montserrat", sans-serif;
    justify-items: center;
    text-align: center;
}

.about_me h1 {
    color: #ffffff;
    border-bottom: 2px solid #ffffc5;
    display: inline-block;
}

.skills {
    display: grid;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
}

.skills h1 {
    color: #ffffff;
    border-bottom: 2px solid #ffffc5;
    display: inline-block;
}

.skills table {
    padding: 0 15px;
}

.skills table td, .skills table th {
    padding: 0 15px;
    border: 1px solid white;
    padding: 10px 20px;
}

.academic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Montserrat", sans-serif;
    justify-items: center;
    text-align: center;
    gap: 15px
}

.academic h1 {
    border-bottom: 2px solid #ffffc5;
    display: inline-block;
    grid-column: 1/-1;
}

.academic .card{
    border: 0;
    margin-inline: auto;
}

.academic .card_content {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(135deg, #FFFFFF, #F6F5BB);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
}

.academic .card img {
    width: 170px;
}

.academic .card_title {
    text-align: left;
    color: black;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin-bottom: 6px;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
}

.academic .card_description {
    font-weight: 600;
    line-height: 32px;
    color: black;
    font-size: 16px;
    max-width: 470px;
}