@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Animação FadeIn  */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s; /* Delay para uma animação mais suave */
}

/* Animação para elementos que devem "deslizar para cima" */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up {
    opacity: 0;
    animation: slideUp 1s forwards;
}


/* Padronizando */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

/* BODY */

body {
    background-color: black;
}

/* HEADER E NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.text_portfolio {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0 20px;
}

.nav_link {
    display: flex;
    justify-content: flex-end;
}

.portfolio {
    color: aliceblue;
}

/* Conteúdo Home  */

.mainimage {
    width: 22%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.main {
    justify-content: center;
    padding: 35px 0;
}

.nameigor {
    color: #FFFFC5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: xx-large;
}

.local_information {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.namelocal {
    color: rgb(158, 168, 177);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: italic;
    font-size: large;
}

.img_icongps {
    max-width: 30px;
    max-height: 30px;
}

.imgs_portfolio {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.imglinkedin {
    display: block;
    margin: 0 auto;
    max-width: 40px;
}

.imgGithub {
    display: block;
    margin: 0 auto;
    max-width: 40px;
}

.cur {
    display: flex;
    justify-content: center;
}

.btn_cur {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: transparent;
    border-radius: 16px;
    padding: 16px 24px;
    transition-duration: 0.4s;
}

.btn_cur:hover {
    color: rgb(0, 0, 0);
    font-weight: 800;
    background-color: #ffffc5;
    
}

