.about_me {
    display: grid;
    font-family: "Montserrat", sans-serif;
    justify-items: center;
    text-align: center;
}

.skills {
    display: grid;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.skills table {
    border: 2px solid;
    padding: 0 50px;
}

.formation_academic {
    display: grid;
    font-family: "Montserrat", sans-serif;
    justify-items: center;
    text-align: center;
}