nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 1.5rem;
}

.ul {
    display: flex;
    list-style: none;
    gap: 42px;
    margin-right: 3px;
}

.a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.a:hover {
    color: var(--cor-secundaria); 
}