/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quintessential&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 25px;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}